<!DOCTYPE html>
<html lang="fr">
	<head>
    <meta charset="UTF-8">
    <title>jeu de contrainte</title>
	<link rel="stylesheet" href="/jeu_contrainte/static/css/style.css">
	</head>

	<body>
		<header>
			<!-- Logo cliquable -->
			<a href="accueil">
				<img src="/jeu_contrainte/static/img/logo_site.jpg" alt="LOGO">
			</a>
			
			<!-- Titre principal -->
			<h1>Jeu de contrainte</h1>
			
		</header>

		<!-- Navigation -->
		<nav>
			<ul>
				<ul>
					<li><a href="accueil">accueil</a></li>
					<li><a href="parties">parties</a></li>
					<li><a href="regles">Règles</a></li>
					<li><a href="statistiques">statistiques</a></li>
					<li><a href="classement">Classements</a></li>
				</ul>
			</ul>
		</nav>
		<p id="contenu de la page">
		</p>

		<footer>
			<a href="https://www.univ-lyon1.fr/">SITE UCBL</a> <br>
            <a href="plan">Plan du site</a>
			<p>
				Réalisé par Dhif Mohamed-Azize et Abbas Ibrahim en 2025.
			</p>
		</footer>
		  
	</body>
</html>