<!DOCTYPE html>
<html lang="fr">
	<head>
    <meta charset="UTF-8">
    <title>jeu de contrainte</title>
	<link rel="stylesheet" href="/jeu_contrainte/static/css/style.css">
	</head>

	<body>
		<header>
			<!-- Logo cliquable -->
			<a href="accueil">
				<img src="/jeu_contrainte/static/img/logo_site.jpg" alt="LOGO">
			</a>
			
			<!-- Titre principal -->
			<h1>Jeu de contrainte</h1>
			
		</header>

		<!-- Navigation -->
		<nav>
			<ul>
				<ul>
					<li><a href="accueil">accueil</a></li>
					<li><a href="parties">parties</a></li>
					<li><a href="regles">Règles</a></li>
					<li><a href="statistiques">statistiques</a></li>
					<li><a href="classement">Classements</a></li>
				</ul>
			</ul>
		</nav>
		<div id="contenu-de-la-page">
			<div class="plan-container">
				<div class="plan-section">
					<h2>Navigation principale</h2>
					<ul class="plan-list">
						<li><a href="accueil">Page d'accueil</a> - Présentation du jeu</li>
						<li><a href="parties">Parties</a> - Créer et gérer vos parties</li>
						<li><a href="regles">Règles du jeu</a> - Comment jouer</li>
						<li><a href="statistiques">Statistiques</a> - Vos performances</li>
						<li><a href="classement">Classements</a> - Comparaison avec d'autres joueurs</li>
						<li><a href="plan">Plan du site</a> - Arborescence du site</li>

					</ul>
				</div>
				
				<div class="plan-section">
					<h2>Fonctionnalités du jeu</h2>
					<ul class="plan-list">
						<li><a href="jeu">Interface de jeu</a> - Où se déroule la partie</li>
						<li>Création de grilles personnalisables</li>
						<li>Différents niveaux de difficulté</li>
						<li>Suivi des performances</li>
					</ul>
				</div>
				
				<div class="plan-section">
					<h2>Informations pratiques</h2>
					<ul class="plan-list">
						<li><a href="https://www.univ-lyon1.fr/">Site de l'UCBL</a> - Université Claude Bernard Lyon 1</li>
						<li>Contact : <br>
							mohamed-azize.dhif@etu.univ-lyon1.fr <br>
									     ibrahim.abbas@etu.univ-lyon1.fr
						</li>
						<li>Mentions légales</li>
						<li>Politique de confidentialité</li>
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<a href="https://www.univ-lyon1.fr/">SITE UCBL</a> <br>
            <a href="plan">Plan du site</a>

			<p>
				Réalisé par Dhif Mohamed-Azize et Abbas Ibrahim en 2025.
			</p>
		</footer>
		  
	</body>
</html>